:root {
  --vp-custom-block-tip-text: var(--vp-c-text-1);
  --vp-custom-block-tip-bg: rgb(0 158 255 / 14%);
  --vp-custom-block-tip-code-bg: #B3E2FF;
  --vp-code-color: #0048FB;
}

.dark {
  --vp-c-brand-1: #B3E2FF;
  --vp-custom-block-tip-code-bg: var(--vp-code-block-bg);
  --vp-code-color: #56A6FF;
}

.docs .VPDoc {
    padding-top: 0;
}

img[alt="light"] {
    display: block;
}

img[alt="dark"] {
    display: none;
}

html.dark img[alt="light"] {
    display: none;
}

html.dark img[alt="dark"] {
    display: block;
}
