:host {
    display: block;
    position: relative;
    width: 100vw;
    height: 80vh;
    overflow: hidden;
}
#container {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 80vh;
    clip-path: inset(0px 0px 0px 0px);
}
#ad-slot {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 80vh;
}