:host {
    display: block;
    position: relative;
    width: 100vw;
    height: 80vh;
    overflow: hidden;
}
#container {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 80vh;
    clip: rect(0, auto, auto, 0);
}
#content {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 80vh;
}